<h2>Editar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Foto_de_perfil %><br />
    <%= f.file_field :profile_picture, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :Nombres %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :Apellidos %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :Direccion %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Correo_electronico %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Contrase침a %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> Caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_la_contrase침a %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Contrase침a_actual %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p> <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Est치s seguro?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>
