<p id="notice"><%= notice %></p>

<h1>Comentarios de usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_users.each do |comment_user| %>
      <tr>
        <td><%= comment_user.message %></td>
        <td><%= comment_user.user_id %></td>
        <td><%= link_to 'Show', comment_user %></td>
        <td><%= link_to 'Editar', edit_comment_user_path(comment_user) %></td>
        <td><%= link_to 'Eliminar', comment_user, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo comentario de usuario', new_comment_user_path %>
