<p id="notice"><%= notice %></p>


<p>
  <strong>Message:</strong>
  <%= @comment_user.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment_user.user_id %>
</p>

<%= link_to 'Editar', edit_comment_user_path(@comment_user) %> |
<%= link_to 'Regresar', comment_users_path %>
