<p id="notice"><%= notice %></p>

<h1>Listing Comment Books</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_books.each do |comment_book| %>
      <tr>
        <td><%= comment_book.message %></td>
        <td><%= comment_book.user_id %></td>
        <td><%= comment_book.book_id %></td>
        <td><%= link_to 'Show', comment_book %></td>
        <td><%= link_to 'Edit', edit_comment_book_path(comment_book) %></td>
        <td><%= link_to 'Destroy', comment_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment book', new_comment_book_path %>
